// Colors

    // Main
    $accent: #02ade6;
    $main: #2e3747;
    $white: #FFFFFF;
    // --
    $error: #FF6962;
    $success: #68b86f;

    // Alt
    $accent-dark: #0098cf;
    $main-dark: #252b39;
    $main-border: #404857;
    $grey: #d8d8d8;
    $background-dark: #e8e8e8;
    $background-light: #f4f4f4;

    // Inputs
    $input-label: #788499;

